In [1]:
# The code was removed by DSX for sharing.

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [2]:
df_data_2.head(10)

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003
5,6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.0,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
6,7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,91021.0,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
7,8,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,150000.0,2016.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
8,9,CERTIFIED-WITHDRAWN,ESI COMPANIES INC.,CHIEF EXECUTIVES,PRESIDENT,Y,127546.0,2016.0,"MEMPHIS, TEXAS",NaN,NaN
9,10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,154648.0,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222

In [3]:
df_data_2[['CASE_STATUS', 'SOC_NAME']]
#use this to make a chart with two indexes

,CASE_STATUS,SOC_NAME
0,CERTIFIED-WITHDRAWN,BIOCHEMISTS AND BIOPHYSICISTS
1,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
2,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
3,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
4,WITHDRAWN,CHIEF EXECUTIVES
5,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
6,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
7,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
8,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
9,WITHDRAWN,CHIEF EXECUTIVES
10,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
11,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
12,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
13,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
14,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
15,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
16,CERTIFIED-WITHDRAWN,FINANCIAL MANAGERS
17,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
18,CERTIFIED,CHIEF EXECUTIVES
19,CERTIFIED,CHIEF EXECUTIVES
20,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
21,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
22,CERTIFIED,CHIEF EXECUTIVES
23,CERTIFIED,CHIEF EXECUTIVES
24,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
25,CERTIFIED,CHIEF EXECUTIVES
26,CERTIFIED-WITHDRAWN,CHIEF EXECUTIVES
27,CERTIFIED,CHIEF EXECUTIVES
28,CERTIFIED,CHIEF EXECUTIVES
29,CERTIFIED,CHIEF EXECUTIVES
...,...,...
3002428,WITHDRAWN,Physical Therapists
3002429,WITHDRAWN,Physical Therapists
3002430,WITHDRAWN,Computer Systems Analysts
3002431,WITHDRAWN,Computer Support Specialists
3002432,WITHDRAWN,Computer Systems Analysts
3002433,WITHDRAWN,Biochemists and Biophysicists
3002434,WITHDRAWN,Computer Systems Analysts
3002435,WITHDRAWN,Computer Programmers
3002436,WITHDRAWN,Computer Programmers
3002437,WITHDRAWN,"Health Specialties Teachers, Postsecondary"
3002438,WITHDRAWN,Database Administrators
3002439,WITHDRAWN,"Biological Scientists, All Other"
3002440,WITHDRAWN,"Software Developers, Applications"
3002441,WITHDRAWN,Materials Scientists
3002442,WITHDRAWN,Market Research Analysts and Marketing Special...
3002443,WITHDRAWN,Commercial and Industrial Designers
3002444,WITHDRAWN,Commercial and Industrial Designers
3002445,NaN,NaN
3002446,NaN,NaN
3002447,NaN,NaN
3002448,NaN,NaN
3002449,NaN,NaN
3002450,NaN,NaN
3002451,NaN,NaN
3002452,NaN,NaN
3002453,NaN,NaN
3002454,NaN,NaN
3002455,NaN,NaN
3002456,NaN,NaN
3002457,NaN,NaN

In [4]:
df_data_2['SOC_NAME'].value_counts()

Computer Systems Analysts                                                 291170
Computer Programmers                                                      226574
SOFTWARE DEVELOPERS, APPLICATIONS                                         221783
COMPUTER SYSTEMS ANALYSTS                                                 215353
Software Developers, Applications                                         192933
COMPUTER PROGRAMMERS                                                      171972
COMPUTER OCCUPATIONS, ALL OTHER                                           108555
Computer Occupations, All Other                                            69315
Software Developers, Systems Software                                      44500
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                                      39356
Management Analysts                                                        38756
Financial Analysts                                                         34141
Computer Software Engineers, Applications                                  33325
Accountants and Auditors                                                   30708
MANAGEMENT ANALYSTS                                                        28117
Mechanical Engineers                                                       26219
Computer Occupations, All Other*                                           25628
Electronics Engineers, Except Computer                                     23323
Electrical Engineers                                                       22162
Market Research Analysts and Marketing Specialists                         22158
ACCOUNTANTS AND AUDITORS                                                   22114
Physicians and Surgeons, All Other                                         22010
Database Administrators                                                    21937
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS                                21642
FINANCIAL ANALYSTS                                                         19399
Operations Research Analysts                                               19171
Network and Computer Systems Administrators                                18445
MECHANICAL ENGINEERS                                                       18017
COMPUTER SYSTEMS ANALYST                                                   17426
DATABASE ADMINISTRATORS                                                    17045
                                                                           ...
ATMOSPHERIC, EARTH, MARINE, AND SPACE SCIENCES TEACHERS, POSTSECONDARY         1
FIRST-LINE SUPERVISORS OF FARMING, FISHING, AND FO                             1
CHMEICAL ENGINEERS                                                             1
INFORMATION SECURITY ANALYST                                                   1
COMPUTER OCCUPATIONS/ALL OTHER                                                 1
NANOTECHNOLOGY ENGINEERING TECHNOLOGISTS                                       1
COMPUTER OCCUPATION, ALL OTHERS                                                1
HARDWARD ENGINEERS                                                             1
FINANCE MANAGERS                                                               1
HEALTH DIAGNOSING AND TREATING PRACTITIONERS, ALL OTHER                        1
ELECTRICAL ENGINEERING TECHNICIANS                                             1
MARKET RESEARCH ANALYTICS AND MARKETING SPECIALIST                             1
ELECTRICAL ENGINEERINGS                                                        1
BIOCHEMISTS OR BIOPHYSICISTS                                                   1
CREDIT AUTHORIZERS, CHECKERS, AND CLERKS                                       1
COUNTER ATTENDANTS, CAFETERIA, FOOD CONCESSION,                                1
SOFTWARE DEVELOPERS, APPLCIATIONS                                              1
COMPUTER SYSTEMS ANALYSTSS                                                     1
SALESREPRESENTATIVES,WHOLESALEMANUFACTURING,TECHNI                             1
PURCHASING AGENTS, EXCEPT WHOLESALE                                            1
SECURITIES, COMMODITIES AND SALES AGENTS                                       1
UROLOGISTS                                                                     1
DESIGNER, ALL OTHER                                                            1
LIFE SCIENTISTS                                                                1
SOFTWARE DEVELOPERS, APPLICATIONS, NONR&AMP;D                                  1
TITLE EXAMINERS, ABSTRACTORS, AND SEARCHERS                                    1
PROPERTY,REAL ESTATE,COMMUNITY ASSOCIATION MANAGER                             1
Entertainment Attendants and Related Workers, All                              1
BUS AND TRUCK MECHANICS AND DIESEL ENGINE                                      1
Hazardous Materials Removal Workers                                            1
Name: SOC_NAME, dtype: int64

In [5]:
df_data_2['SOC_NAME'].value_counts().count()

2132

In [6]:
testdata=df_data_2.copy()

In [7]:
testdata['SOC_NAME']=df_data_2['SOC_NAME'].str.lower()
testdata['EMPLOYER_NAME']=df_data_2['EMPLOYER_NAME'].str.lower()
testdata['JOB_TITLE']=df_data_2['JOB_TITLE'].str.lower()

Here, we transform some strings to lowercase. This is because there are duplicate entries in the dataset which in both upper and lower.
This increases redundancy

In [8]:
testdata['SOC_NAME'].value_counts()

computer systems analysts                                       506523
software developers, applications                               414716
computer programmers                                            398546
computer occupations, all other                                 177870
software developers, systems software                            83856
management analysts                                              66873
financial analysts                                               53540
accountants and auditors                                         52822
mechanical engineers                                             44236
network and computer systems administrators                      40087
database administrators                                          38982
market research analysts and marketing specialists               37737
electronics engineers, except computer                           36574
operations research analysts                                     34260
electrical engineers                                             34108
physicians and surgeons, all other                               33526
computer software engineers, applications                        33387
computer and information systems managers                        27536
computer occupations, all other*                                 26254
medical scientists, except epidemiologists                       26159
physical therapists                                              21994
biochemists and biophysicists                                    21245
industrial engineers                                             19370
computer systems analyst                                         17426
statisticians                                                    17101
biological scientists, all other                                 16367
marketing managers                                               16310
civil engineers                                                  15970
web developers                                                   15000
internists, general                                              13367
                                                                 ...
helpers--electricians                                                1
industrial designers                                                 1
logistics manager                                                    1
electronics engineers, expert computer                               1
hardward engineers                                                   1
soil and plant scientist                                             1
mechanical engineers, r&d (acwia only)                               1
timing device assemblers and adjusters                               1
telecommunications line installers and repairers                     1
biological science teachers                                          1
dentist                                                              1
computer systems engineers/arquitects                                1
secondary school teachers,                                           1
computer systems anaysts                                             1
counseling psychologist                                              1
software engineer, senior                                            1
health diagnosing & treating practitioners, all ot                   1
set and exhibit engineers                                            1
helpers, construction trades, all other                              1
datebase administrators                                              1
commercial and insdistrial designers                                 1
software developers, appllications                                   1
computer occupations,all other                                       1
foreign language and literature teachers, postsecondary              1
dentists                                                             1
railroad conductors and yardmasters                                  1
computer occupations, all other: information techn                   1
computer network architect                                           1
criminal justice and law enforcement teachers, postsecondary         1
medical scientists, except epidemiologist                            1
Name: SOC_NAME, dtype: int64

There is still alot of redundancy we can exploit. We can generalize these strings remove specalized strings into more general form.
For example 'software engineer, senior' needs to be reduced to 'software engineer'.
This also applies to the other columns with string attributes.

In [9]:
testdata['SOC_NAME'].value_counts().count()

1585

In [63]:
testdata2=testdata.copy()

In [81]:
df = pd.DataFrame({'SOC_NAME': testdata['SOC_NAME'].value_counts().index, 'Count':testdata['SOC_NAME'].value_counts().values})
#df['Counts'] = df.groupby(['SOC_NAME'])['Count'].transform('count') #I don't remember what I was trying to do here.
#df = df.set_index(['SOC_NAME'])
df

       Count                                           SOC_NAME
0     506523                          computer systems analysts
1     414716                  software developers, applications
2     398546                               computer programmers
3     177870                    computer occupations, all other
4      83856              software developers, systems software
5      66873                                management analysts
6      53540                                 financial analysts
7      52822                           accountants and auditors
8      44236                               mechanical engineers
9      40087        network and computer systems administrators
10     38982                            database administrators
11     37737  market research analysts and marketing special...
12     36574             electronics engineers, except computer
13     34260                       operations research analysts
14     34108                               electrical engineers
15     33526                 physicians and surgeons, all other
16     33387          computer software engineers, applications
17     27536          computer and information systems managers
18     26254                   computer occupations, all other*
19     26159         medical scientists, except epidemiologists
20     21994                                physical therapists
21     21245                      biochemists and biophysicists
22     19370                               industrial engineers
23     17426                           computer systems analyst
24     17101                                      statisticians
25     16367                   biological scientists, all other
26     16310                                 marketing managers
27     15970                                    civil engineers
28     15000                                     web developers
29     13367                                internists, general
...      ...                                                ...
1555       1                              helpers--electricians
1556       1                               industrial designers
1557       1                                  logistics manager
1558       1             electronics engineers, expert computer
1559       1                                 hardward engineers
1560       1                           soil and plant scientist
1561       1             mechanical engineers, r&d (acwia only)
1562       1             timing device assemblers and adjusters
1563       1   telecommunications line installers and repairers
1564       1                        biological science teachers
1565       1                                            dentist
1566       1              computer systems engineers/arquitects
1567       1                         secondary school teachers,
1568       1                           computer systems anaysts
1569       1                            counseling psychologist
1570       1                          software engineer, senior
1571       1  health diagnosing & treating practitioners, al...
1572       1                          set and exhibit engineers
1573       1            helpers, construction trades, all other
1574       1                            datebase administrators
1575       1               commercial and insdistrial designers
1576       1                 software developers, appllications
1577       1                     computer occupations,all other
1578       1  foreign language and literature teachers, post...
1579       1                                           dentists
1580       1                railroad conductors and yardmasters
1581       1  computer occupations, all other: information t...
1582       1                         computer network architect
1583       1  criminal justice and law enforcement teachers,...
1584       1          medical scientists, except epidemiologist

[1585 rows x 2 columns]

In [82]:
df['Name1'] = ''

In [83]:
df

       Count                                           SOC_NAME Name1
0     506523                          computer systems analysts
1     414716                  software developers, applications
2     398546                               computer programmers
3     177870                    computer occupations, all other
4      83856              software developers, systems software
5      66873                                management analysts
6      53540                                 financial analysts
7      52822                           accountants and auditors
8      44236                               mechanical engineers
9      40087        network and computer systems administrators
10     38982                            database administrators
11     37737  market research analysts and marketing special...
12     36574             electronics engineers, except computer
13     34260                       operations research analysts
14     34108                               electrical engineers
15     33526                 physicians and surgeons, all other
16     33387          computer software engineers, applications
17     27536          computer and information systems managers
18     26254                   computer occupations, all other*
19     26159         medical scientists, except epidemiologists
20     21994                                physical therapists
21     21245                      biochemists and biophysicists
22     19370                               industrial engineers
23     17426                           computer systems analyst
24     17101                                      statisticians
25     16367                   biological scientists, all other
26     16310                                 marketing managers
27     15970                                    civil engineers
28     15000                                     web developers
29     13367                                internists, general
...      ...                                                ...   ...
1555       1                              helpers--electricians
1556       1                               industrial designers
1557       1                                  logistics manager
1558       1             electronics engineers, expert computer
1559       1                                 hardward engineers
1560       1                           soil and plant scientist
1561       1             mechanical engineers, r&d (acwia only)
1562       1             timing device assemblers and adjusters
1563       1   telecommunications line installers and repairers
1564       1                        biological science teachers
1565       1                                            dentist
1566       1              computer systems engineers/arquitects
1567       1                         secondary school teachers,
1568       1                           computer systems anaysts
1569       1                            counseling psychologist
1570       1                          software engineer, senior
1571       1  health diagnosing & treating practitioners, al...
1572       1                          set and exhibit engineers
1573       1            helpers, construction trades, all other
1574       1                            datebase administrators
1575       1               commercial and insdistrial designers
1576       1                 software developers, appllications
1577       1                     computer occupations,all other
1578       1  foreign language and literature teachers, post...
1579       1                                           dentists
1580       1                railroad conductors and yardmasters
1581       1  computer occupations, all other: information t...
1582       1                         computer network architect
1583       1  criminal justice and law enforcement teachers,...
1584       1          medical scientists, except epidemiologist

[1585 rows x 3 columns]

In [84]:
df.iloc[3]['Count'] #example of accessing a location

177870

In [85]:
%%timeit
for index, row in df.iterrows():
    names = row['SOC_NAME'].split(",")
    if(names[0].endswith('*')):
        df.set_value([index],['Name1'],(names[0][:-1]))
    if not (names[0].endswith('s')):
        df.set_value([index],['Name1'],(names[0]+'s'))
    else:
        df.set_value([index],['Name1'],names[0])

1 loop, best of 3: 1.55 s per loop

In [86]:
df

,Count,SOC_NAME,Name1
0,506523,computer systems analysts,computer systems analysts
1,414716,"software developers, applications",software developers
2,398546,computer programmers,computer programmers
3,177870,"computer occupations, all other",computer occupations
4,83856,"software developers, systems software",software developers
5,66873,management analysts,management analysts
6,53540,financial analysts,financial analysts
7,52822,accountants and auditors,accountants and auditors
8,44236,mechanical engineers,mechanical engineers
9,40087,network and computer systems administrators,network and computer systems administrators
10,38982,database administrators,database administrators
11,37737,market research analysts and marketing special...,market research analysts and marketing special...
12,36574,"electronics engineers, except computer",electronics engineers
13,34260,operations research analysts,operations research analysts
14,34108,electrical engineers,electrical engineers
15,33526,"physicians and surgeons, all other",physicians and surgeons
16,33387,"computer software engineers, applications",computer software engineers
17,27536,computer and information systems managers,computer and information systems managers
18,26254,"computer occupations, all other*",computer occupations
19,26159,"medical scientists, except epidemiologists",medical scientists
20,21994,physical therapists,physical therapists
21,21245,biochemists and biophysicists,biochemists and biophysicists
22,19370,industrial engineers,industrial engineers
23,17426,computer systems analyst,computer systems analysts
24,17101,statisticians,statisticians
25,16367,"biological scientists, all other",biological scientists
26,16310,marketing managers,marketing managers
27,15970,civil engineers,civil engineers
28,15000,web developers,web developers
29,13367,"internists, general",internists
...,...,...,...
1555,1,helpers--electricians,helpers--electricians
1556,1,industrial designers,industrial designers
1557,1,logistics manager,logistics managers
1558,1,"electronics engineers, expert computer",electronics engineers
1559,1,hardward engineers,hardward engineers
1560,1,soil and plant scientist,soil and plant scientists
1561,1,"mechanical engineers, r&d (acwia only)",mechanical engineers
1562,1,timing device assemblers and adjusters,timing device assemblers and adjusters
1563,1,telecommunications line installers and repairers,telecommunications line installers and repairers
1564,1,biological science teachers,biological science teachers
1565,1,dentist,dentists
1566,1,computer systems engineers/arquitects,computer systems engineers/arquitects
1567,1,"secondary school teachers,",secondary school teachers
1568,1,computer systems anaysts,computer systems anaysts
1569,1,counseling psychologist,counseling psychologists
1570,1,"software engineer, senior",software engineers
1571,1,"health diagnosing & treating practitioners, al...",health diagnosing & treating practitioners
1572,1,set and exhibit engineers,set and exhibit engineers
1573,1,"helpers, construction trades, all other",helpers
1574,1,datebase administrators,datebase administrators
1575,1,commercial and insdistrial designers,commercial and insdistrial designers
1576,1,"software developers, appllications",software developers
1577,1,"computer occupations,all other",computer occupations
1578,1,"foreign language and literature teachers, post...",foreign language and literature teachers
1579,1,dentists,dentists
1580,1,railroad conductors and yardmasters,railroad conductors and yardmasters
1581,1,"computer occupations, all other: information t...",computer occupations
1582,1,computer network architect,computer network architects
1583,1,"criminal justice and law enforcement teachers,...",criminal justice and law enforcement teachers
1584,1,"medical scientists, except epidemiologist",medical scientists

In [80]:
testdata2['SOC_NAME'].value_counts().count()

1585

In [ ]:
(testdata.loc[(testdata['SOC_NAME']=='software developers, appllications')]) #an example of a query

This person messed up the SOC_NAME

In [90]:
df['Name1'].value_counts()

software developers                                    37
secondary school teachers                              14
securities                                             14
sales representatives                                  13
electronics engineers                                  13
computer occupations                                   11
computer systems analysts                              10
computer software engineers                            10
elementary school teachers                             10
mechanical engineers                                    9
special education teachers                              8
electrical engineers                                    7
education administrators                                7
computer programmers                                    7
medical scientists                                      7
middle school teachers                                  7
cooks                                                   6
foreign language and literature teachers                6
civil engineers                                         6
computer hardware engineers                             5
atmospherics                                            5
dentists                                                5
computer network architects                             5
propertys                                               4
computer and information systems managers               4
internists                                              4
criminal justice and law enforcement teachers           4
healthcare practitioners and technical workers          4
electrical and electronics repairers                    4
business operations specialists                         4
                                                       ..
robotics engineers                                      1
detectives and criminal investigators                   1
environmental science teachers                          1
psychiatric aides                                       1
compuer systems analysts                                1
audio-visual collections specialists                    1
first-line supervisors and manager/supervisors - ls     1
jewelers                                                1
marketing specialists                                   1
medical seicentists                                     1
first-line supervisors/managers of production ands      1
landscape architects                                    1
heavy and tractor-trailer truck drivers                 1
singers                                                 1
software developers applications                        1
first-line supervisors of construction trades and s     1
musical instrument repairers and tuners                 1
english language & literature teachers                  1
operation research analysts                             1
respiratory therapy technicians                         1
skincare specialists                                    1
cardiovascular technologists and technicians            1
nuclear engineers                                       1
first-line supervisors/managers of personal servics     1
commodities                                             1
project managers                                        1
healthcare social workers                               1
choreographers                                          1
geneticists                                             1
comuter occupations                                     1
Name: Name1, dtype: int64

In [89]:
df['Name1'].value_counts().count()

1134

We have now cut the number of names in half